[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
python-multipart = "*"
pymongo = "*"
mongoengine = "*"
python-dotenv = "*"
cloudinary = "*"
pytest = "*"
httpx = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
pydash = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"
isort = "*"

[requires]
python_version = "3.10"
